<p>
  Olá {{ user.name }},
  <br /><br />
  Você solicitou a recuperação senha. Por favor clique no botão abaixo para iniciarmos o procedimento:
</p>
<p>
  <div style="text-align: center; margin: 20px 0;">
    <a href="{{ FRONTEND_URL }}/reset-password/{{ user.recovery_token }}" style="background-color: #ee4d64; color: white; box-sizing: border-box; border: solid 1px firebrick; border-radius: 5px; display: inline-block; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-align: center; text-decoration: none;">
      RECUPERAR SENHA DO PORTAL DO ALUNO
    </a>
  </div>

  Caso demore em clicar no botão acima, a ativação será expirada e precisará solicitar outro email de recuperação.
</p>
